<h1>ThoughtBox</h1>

<%= form_tag '/links' do %>
  Title: <%= text_field_tag :title %>
  URL: <%= text_field_tag :url %>
  <%= submit_tag "Submit" %>
<% end %>

<br>
<div>
  <span class="search">
    <label>Search: </label>
    <%= text_field :link, :search %>
  </span>

  Filter by Status:
  <select class="filter">
    <option value="all">All</option>
    <option value="true">Read</option>
    <option value="false">Unread</option>
  </select>
</div>

<ul class="links">
  <% @links.each do |l| %>
    <div id="<%= l.id %>" class="link">
      <% if l.read %>
        <li><a class="read title" href="<%= l.url %>"><%= l.title %></a></li>
        <li class="status">Read: <%= l.read %></li>
        <button class="mark-unread" data-id="<%= l.id %>">mark unread</button>
      <% else %>
        <li><a class="unread title" href="<%= l.url %>"><%= l.title %></a></li>
        <li class="status">Read: <%= l.read %></li>
        <button class="mark-read" data-id="<%= l.id %>" >mark read</button>
      <% end %>
      <%= link_to "edit", edit_link_path(l.id) %>
    </div>
  <% end %>
</ul>
