<h1>ThoughtBox</h1>

<%= form_tag '/links' do %>
  Title: <%= text_field_tag :title %>
  URL: <%= text_field_tag :url %>
  <%= submit_tag "Submit" %>
<% end %>

<ul>
  <% @links.each do |l| %>
    <ul>
      <li><a href="<%= l.url %>"><%= l.title %></a></li>
    </ul>
    <br />
  <% end %>
</ul>
