<!DOCTYPE html>
<html>
  <head>
    <title>ThoughtBox</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_user %>
      <%= link_to "log out", logout_path %>
    <% else %>
      <%= link_to "log in", login_path %>
      <span>  </span>
      <%= link_to "sign up", new_user_path %>
    <% end %>

    <% flash.each do |f| %>
      <p><%= f[1] %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
